footer
    p Made with ❤️ by <a href="https://github.com/sondregronas/obra-dinn-interactive-crew-list" target="_blank">sondregronas</a>
    p.note
        | This project is in no way affiliated with Lucas Pope or his game Obra Dinn.
        br
        | All data and images are property of Lucas Pope and his team.