header
    h1 Interactive Obra Dinn Crew List
    p
        | Help figure out the fates of all crew members onboard the Obra Dinn!
        br
        br
        | A copy of Obra Dinn is still required, this website is just a tool to bring collaborative investigation to the game.
    br
    p.todo
        | Missing Features:
        li Select portrait from crew sketch
        li Interactive fate selector