header
    h1 Interactive Obra Dinn Crew List
    p
        | Figure out the fates of all crew members onboard the Obra Dinn!
        br
    nav
        button(type="button" id="helpBtn") Help
        button(type="button" id="crewBtn") Crew Sketch
        button(type="button" id="saveBtn") Save
        button(type="button" id="loadBtn") Load
        button(type="button" id="resetBtn") Reset