doctype html
html(lang="en")
  head
    title Interactive Crew List
    meta(name="description" content="An interactive crew list for the game Return to the Obra Dinn, for a collaborative experience.")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // og meta tags
    meta(name="og:url" content=href)
    meta(name="og:type" content="website")
    meta(name="og:title" content="Obra Dinn Interactive Crew List")
    meta(name="og:description" content="An interactive crew list for the game Return to the Obra Dinn, for a collaborative experience.")
    meta(name="og:image" content=href + "img/cover.jpg")

    // css
    link(rel="stylesheet", href="style.css")
    link(rel="icon", type="image/png", href="favicon.png")

    // js
    script(src="portraits.js" defer)
    script(src="modals.js" defer)
    script(src="localstorage.js" defer)
  body
      main
        include header
        include crewlist
        include modals
        include footer
