.modals
    modal#help-modal.modal
        .modal-content
            span.helpClose.close &times;
            h2 Help
            br
            p
                | This is an interactive crew list for the game Obra Dinn. You can use it to keep track of the crew members you've found and their fates.
                br
                | This tool is meant to be used in conjunction with the game to allow for collaborative gameplay, not as a replacement for it.
            br
            p
                | <b>Left click</b> on a portrait to bring up the portrait selection menu.
                br
                | <b>Right click</b> on a portrait to reset it to the default portrait.
                br
                | Click on the "Crew Sketch" button to bring up the crew sketch.
                br
                | Click on the "Save" button to save your progress.
                br
                | Click on the "Load" button to load your earlier save.
                br
                br
            p Click on the "X" in the top right corner to close this window.
    modal#crew-modal.modal
        .modal-content.crew-modal-content
            img#hoveredPortrait(src="img/portraits/0.webp")
            span.crewClose.close &times;
            include sketchmap
    modal#save-modal.modal
        .modal-content
            span.saveClose.close &times;
            p Save your progress by copying the text below, or by hitting the "Download" button.
            br
            textarea#save-text(disabled="true")
            br
            button(onclick="downloadSaveState()") Download
    modal#load-modal.modal
        .modal-content
            span.loadClose.close &times;
            p Load a save state by uploading a file, or by pasting the text below.
            input(type="file" id="load-file")
            textarea#load-text
            br
            button(onclick="loadSaveState()") Confirm