.modals
    modal#crew-modal.modal
        .modal-content.crew-modal-content
            img#hoveredPortrait(src="img/portraits/0.webp")
            span.crewClose.close &times;
            include sketchmap
    modal#save-modal.modal
        .modal-content
            span.saveClose.close &times;
            p Save your progress by copying the text below, or by hitting the "Download" button.
            br
            textarea#save-text(disabled="true")
            br
            button(onclick="downloadSaveState()") Download
    modal#load-modal.modal
        .modal-content
            span.loadClose.close &times;
            p Load a save state by uploading a file, or by pasting the text below.
            input(type="file" id="load-file")
            textarea#load-text
            br
            button(onclick="loadSaveState()") Confirm