// Crew map generated via https://imagemapper.noc.io/
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 1920">
<image width="1280" height="1920" xlink:href="img/sketch.png"></image>
<a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(8)" onclick="clickPortrait(8)">
<rect x="316" y="213" fill="#fff" opacity="0" width="56" height="58"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(7)" onclick="clickPortrait(7)">
<rect x="235" y="169" fill="#fff" opacity="0" width="63" height="67"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(6)" onclick="clickPortrait(6)">
<rect x="694" y="39" fill="#fff" opacity="0" width="69" height="77"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(5)" onclick="clickPortrait(5)">
<rect x="610" y="65" fill="#fff" opacity="0" width="67" height="75"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(4)" onclick="clickPortrait(4)">
<rect x="545" y="61" fill="#fff" opacity="0" width="59" height="72"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(3)" onclick="clickPortrait(3)">
<rect x="482" y="70" fill="#fff" opacity="0" width="55" height="71"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(1)" onclick="clickPortrait(1)">
<rect x="134" y="94" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(2)" onclick="clickPortrait(2)">
<rect x="398" y="53" fill="#fff" opacity="0" width="62" height="81"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(39)" onclick="clickPortrait(39)">
<rect x="833" y="989" fill="#fff" opacity="0" width="78" height="75"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(40)" onclick="clickPortrait(40)">
<rect x="1050" y="988" fill="#fff" opacity="0" width="76" height="75"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(38)" onclick="clickPortrait(38)">
<rect x="760" y="1114" fill="#fff" opacity="0" width="50" height="53"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(37)" onclick="clickPortrait(37)">
<rect x="707" y="1068" fill="#fff" opacity="0" width="50" height="51"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(30)" onclick="clickPortrait(30)">
<rect x="371" y="970" fill="#fff" opacity="0" width="50" height="54"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(35)" onclick="clickPortrait(35)">
<rect x="589" y="1029" fill="#fff" opacity="0" width="50" height="50"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(34)" onclick="clickPortrait(34)">
<rect x="536" y="1077" fill="#fff" opacity="0" width="50" height="63"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(36)" onclick="clickPortrait(36)">
<rect x="658" y="1091" fill="#fff" opacity="0" width="50" height="56"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(32)" onclick="clickPortrait(32)">
<rect x="371" y="1061" fill="#fff" opacity="0" width="56" height="61"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(33)" onclick="clickPortrait(33)">
<rect x="479" y="1065" fill="#fff" opacity="0" width="50" height="63"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(31)" onclick="clickPortrait(31)">
<rect x="307" y="1077" fill="#fff" opacity="0" width="50" height="54"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(29)" onclick="clickPortrait(29)">
<rect x="1134" y="582" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(28)" onclick="clickPortrait(28)">
<rect x="1005" y="646" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(27)" onclick="clickPortrait(27)">
<rect x="908" y="710" fill="#fff" opacity="0" width="83" height="89"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(26)" onclick="clickPortrait(26)">
<rect x="760" y="622" fill="#fff" opacity="0" width="96" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(25)" onclick="clickPortrait(25)">
<rect x="894" y="415" fill="#fff" opacity="0" width="102" height="128"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(24)" onclick="clickPortrait(24)">
<rect x="658" y="375" fill="#fff" opacity="0" width="119" height="120"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(23)" onclick="clickPortrait(23)">
<rect x="491" y="518" fill="#fff" opacity="0" width="100" height="113"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(22)" onclick="clickPortrait(22)">
<rect x="143" y="471" fill="#fff" opacity="0" width="100" height="116"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(21)" onclick="clickPortrait(21)">
<rect x="390" y="302" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(20)" onclick="clickPortrait(20)">
<rect x="268" y="326" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(19)" onclick="clickPortrait(19)">
<rect x="79" y="317" fill="#fff" opacity="0" width="94" height="86"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(18)" onclick="clickPortrait(18)">
<rect x="90" y="233" fill="#fff" opacity="0" width="100" height="82"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(17)" onclick="clickPortrait(17)">
<rect x="1158" y="108" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(16)" onclick="clickPortrait(16)">
<rect x="1015" y="91" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(15)" onclick="clickPortrait(15)">
<rect x="921" y="91" fill="#fff" opacity="0" width="87" height="89"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(14)" onclick="clickPortrait(14)">
<rect x="821" y="112" fill="#fff" opacity="0" width="83" height="93"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(13)" onclick="clickPortrait(13)">
<rect x="713" y="162" fill="#fff" opacity="0" width="85" height="96"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(12)" onclick="clickPortrait(12)">
<rect x="605" y="151" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(11)" onclick="clickPortrait(11)">
<rect x="491" y="221" fill="#fff" opacity="0" width="50" height="63"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(10)" onclick="clickPortrait(10)">
<rect x="438" y="213" fill="#fff" opacity="0" width="52" height="70"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(9)" onclick="clickPortrait(9)">
<rect x="375" y="220" fill="#fff" opacity="0" width="50" height="62"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(41)" onclick="clickPortrait(41)">
<rect x="340" y="1134" fill="#fff" opacity="0" width="50" height="50"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(51)" onclick="clickPortrait(51)">
<rect x="1183" y="1230" fill="#fff" opacity="0" width="67" height="78"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(50)" onclick="clickPortrait(50)">
<rect x="1126" y="1199" fill="#fff" opacity="0" width="52" height="82"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(49)" onclick="clickPortrait(49)">
<rect x="795" y="1281" fill="#fff" opacity="0" width="55" height="76"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(48)" onclick="clickPortrait(48)">
<rect x="1039" y="1181" fill="#fff" opacity="0" width="66" height="81"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(47)" onclick="clickPortrait(47)">
<rect x="788" y="1201" fill="#fff" opacity="0" width="54" height="63"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(46)" onclick="clickPortrait(46)">
<rect x="722" y="1179" fill="#fff" opacity="0" width="52" height="63"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(45)" onclick="clickPortrait(45)">
<rect x="624" y="1152" fill="#fff" opacity="0" width="50" height="62"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(44)" onclick="clickPortrait(44)">
<rect x="545" y="1166" fill="#fff" opacity="0" width="66" height="69"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(43)" onclick="clickPortrait(43)">
<rect x="459" y="1168" fill="#fff" opacity="0" width="56" height="62"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(42)" onclick="clickPortrait(42)">
<rect x="402" y="1148" fill="#fff" opacity="0" width="55" height="59"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(59)" onclick="clickPortrait(59)">
<rect x="790" y="1448" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(60)" onclick="clickPortrait(60)">
<rect x="1098" y="1414" fill="#fff" opacity="0" width="78" height="83"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(58)" onclick="clickPortrait(58)">
<rect x="609" y="1411" fill="#fff" opacity="0" width="100" height="100"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(57)" onclick="clickPortrait(57)">
<rect x="139" y="1641" fill="#fff" opacity="0" width="144" height="153"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(56)" onclick="clickPortrait(56)">
<rect x="1202" y="1335" fill="#fff" opacity="0" width="70" height="81"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(55)" onclick="clickPortrait(55)">
<rect x="1117" y="1298" fill="#fff" opacity="0" width="80" height="83"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(54)" onclick="clickPortrait(54)">
<rect x="1034" y="1343" fill="#fff" opacity="0" width="70" height="70"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(53)" onclick="clickPortrait(53)">
<rect x="956" y="1328" fill="#fff" opacity="0" width="62" height="68"></rect>
</a><a onmouseleave="hidePortrait()" onmouseover="hoverPortrait(52)" onclick="clickPortrait(52)">
<rect x="867" y="1305" fill="#fff" opacity="0" width="68" height="61"></rect>
</a>
</svg>