header{
    padding: 50px 50px 0;
}

header h1{
    font-size: 2rem;
    margin-bottom: 5px;
}

header li{
    font-size: .9rem;
}

nav{
    padding-top: 20px;
    margin-bottom: 20px;
}

nav button{
    text-decoration: none;
    margin: 2px 5px;
    width: 12ch;
    padding-top: 2px;
}