@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

:root{
    --mc: #333318;
    --sc: #e4ffff;
}

html:has(.modal[style='display: block;']){
    overflow: hidden;
    padding-right: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    color: var(--mc);
    border-color: var(--mc);
}

body{
    background-color: var(--mc);
    padding-inline: 50px;
}

main {
    background-color: var(--sc);
    margin: 50px auto 0 auto;
}

.crew-list {
    border-collapse: collapse;
    margin: 0 auto 50px auto;
}

.crew-list td, .crew-list th{
    padding: 15px;
}

.crew-list td{
    border: 1px solid;
    border-bottom: dotted;
}

.crew-list td img{
    width: 80px;
    height: auto;
    border: solid;
    margin-bottom: -25px;
}

.dec-button, .inc-button{
    font-size: 12px;
    font-weight: bold;
    width: 24px;
    margin-top: 28px;
    margin-bottom: -10px;
}

.crew-list th {
    background-color: var(--mc);
    color: var(--sc);
}

.crew-list tr td:first-child,
.crew-list tr td:last-child{
    border-left: none;
    border-right: none;
}

.crew-list tr:last-child td{
    border-bottom: none;
}

.crew-list .solved {
    width: 20px;
    height: 20px;
    margin-right: .5ch;
}

.crew-list tr:has(.solved:checked){
    text-decoration: line-through;
}

.crew-list textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: var(--sc);
    border-bottom: dotted;
}

header{
    padding: 50px 50px 0;
}

header h1{
    font-size: 2rem;
    margin-bottom: 5px;
}

header li{
    font-size: .9rem;
}

footer{
    background-color: var(--mc);
    padding: 20px;
    margin-bottom: 10px;
    font-style: italic;
}
footer *{
    color: var(--sc);
}

footer .note{
    margin-top: 5px;
    font-style: normal;
    font-size: .6em;
}

footer .note a{
    font-size: 1em;
}

.menu{
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Center buttons in rows */
.menu button{
    text-decoration: none;
    margin: 2px 5px;
    width: 12ch;
    padding-top: 2px;
}

button, input {
    cursor: pointer;
    color: var(--sc);
    background-color: var(--mc);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: var(--sc);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--mc);
    width: 80%;
}

.modal-content button{
    margin-top: 5px;
    margin-inline: 10px;
    min-width: 10ch;
}

.crew-modal-content {
    margin: 5% auto;
}

.close {
    color: var(--mc);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: var(--mc);
    text-decoration: none;
    cursor: pointer;
}